<!DOCTYPE html>
<html lang="en" ng-app="shopApp">
<head>
  <title>Fast shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/shop.css">
  
</head>
<body>


  
<div style="min-height: 85vh" ng-view>
<!--place for all views, its reserved-->
</div>

<footer style="text-align: center;background: #181818;">
	<div style="color: white">
	<hr>
		Created and Designed by:
		<br>
		Vivek Shankar<br>
		<a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=viveksome@gmail.com" style="color: white;"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;viveksome@gmail.com</a><br>
		<a href=""><i class="fa fa-facebook-square" aria-hidden="true" style="color: #3B5998"></i></a>
		<a href=""><i class="fa fa-google-plus" aria-hidden="true" style="color: #D62221"></i></a>
		<a href=""><i class="fa fa-twitter-square" aria-hidden="true" style="color: #1DA1F2"></i></a>

	</div>
</footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="angular/app.js"></script>
<script type="text/javascript" src="angular/routes.js"></script>
<script type="text/javascript" src="angular/services/service.js"></script>
<script type="text/javascript" src="angular/controllers/loginController.js"></script>
<script type="text/javascript" src="angular/controllers/signupController.js"></script>
<script type="text/javascript" src="angular/controllers/createController.js"></script>
<script type="text/javascript" src="angular/controllers/productController.js"></script>
<script type="text/javascript" src="angular/controllers/signupAdminController.js"></script>
<script type="text/javascript" src="angular/controllers/editProductController.js"></script>
<script type="text/javascript" src="angular/controllers/dashController.js"></script>
<script type="text/javascript" src="angular/controllers/cartController.js"></script>
<script type="text/javascript" src="angular/controllers/resetController.js"></script>



</html>
